<div class="page-signup">
    <div class="main-body">
        <div class="info text-center">
                <h1>VERSE</h1>
                <a href="#/"><i class="fa fa-3x color-primary fa-step-forward"></i></a>
        </div>

        <div class="container">
            <div class="form-container">
                <section class="row signin-social text-center">
                    <a href="javascript:;" class="btn btn-twitter" tooltip-placement="top" tooltip="Signup with twitter" tooltip-append-to-body="true"><i class="fa fa-twitter"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn btn-facebook" tooltip-placement="top" tooltip="Signup with facebook" tooltip-append-to-body="true"><i class="fa fa-facebook"></i></a>
                </section>

                <span class="line-thru">OR</span>

                <section>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input  type="text"
                                        class="form-control"
                                        placeholder="User name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <a href="signup.html#/" class="btn btn-primary btn-block btn-lg">Sign Up</a>
                        </div>
                    </form>
                </section>

                <section>
                    <p class="text-center text-muted">Already a Member of Verse? <a href="signup.html#/pages/signin" >Log In Now</a></p>
                </section>
            </div>
        </div>
    </div>
</div>
