<div class="page page-full page-dashboard two-column">
  <section class="inner-wrapper scrollable">
    <div class="inner-page">
      <section class="dashboard-banner">
        <div class="dashboard-banner__content">
          <h2>Discover and Share Your Favorite Songs with Friends.</h2>

          <h5>Verse gives you access to the best music - that the internet and your friends have to offer.</h5>

          <a class="btn btn-primary" href="#/artist-list">Start Search</a>
        </div>
      </section>
<!--Search by Artists -->
      <section>
        <section class="panel panel-default panel-default-clean">
          <div class="panel-body panel-body--dashboard">
            <tabset class="ui-tab">
              <tab heading="Artists">
                <div class="divider"></div>
                <div data-ng-controller="ArtistListingCtrl as artistListing">
                  <div class="row music-covers-listing minified">
                    <div data-ng-repeat="artistItem in ArtistsSrv.artists" class="col-md-3">
                      <div class="list-item__wrap">
                        <div class="list-item__image">
                          <img ng-src="{{artistItem.image}}"/>
                          <div class="list-item__play">
                            <a class="list-item__play-button" ng-href="#/artist/{{artistItem.url_name}}">
                              <i class="fa fa-2x fa-step-forward">
                              </i>
                            </a>
                          </div>
                        </div>

                        <div class="list-item__name">
                          <h6>
                            {{artistItem.name}}
                          </h6>
                        </div>

                        <div class="list-item__style">
                          <div class="artist-genre" ng-repeat="genre in artistItem.genre">
                            <span>{{genre}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>

<!--Search by Albums -->
              <tab heading="Albums">
                <div class="divider"></div>
                  <div data-ng-controller="AlbumsCtrl as albums">
                    <div class="row music-covers-listing minified">
                      <div data-ng-repeat="album in AlbumsSrv.albums" class="col-md-3">
                      <div class="list-item__wrap">
                        <div class="list-item__image">
                          <img ng-src="{{album.image}}"/>
                          <div class="list-item__play">
                            <a class="list-item__play-button" ng-href="#/artist/{{album.url_name}}">
                              <i class="fa fa-2x fa-step-forward">
                              </i>
                            </a>
                          </div>
                        </div>
                        <div class="list-item__name">
                          <h6 class="color-primary">{{album.artist}}</h6>
                          <h6>{{album.name}}</h6>
                        </div>

                        <div class="list-item__style">
                          <div class="artist-genre" ng-repeat="genre in album.genre">
                            <span>{{genre}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>

<!--Search by Genre -->
              <tab heading="Genres">
                <div class="divider"></div>
                  <div data-ng-controller="GenresCtrl as genres">
                    <div class="row music-genres-listing">
                     <div data-ng-repeat="genre in GenresSrv.genres" class="col-md-3">
                      <div class="list-item__wrap">

                        <a href="#/artist/{{genre.url_name}}">
                          <div class="list-item__image">
                            <img ng-src="{{genre.image}}" alt="genre image"/>
                            <div class="list-item__name">
                              <div class="genre-icon">
                                <i class="{{genre.icon}}"></i>
                              </div>
                              <h5>
                                {{genre.name}}
                              </h5>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </section>
      </section>

<!--Friends Section -->
      <section>
        <section class="panel panel-default panel-default-clean">
          <div class="panel-body">
            <h4><i class="fa fa-heart color-primary"></i>&nbsp;&nbsp; Your Friends are Listening to</h4>

            <div class="now-playing">
              <div class="row">
                <div class="col-md-3 now-playing__column">
                  <div class="now-playing__item">
                    <div class="now-playing__image">
                      <img src="dist/images/team2.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check">
                        </i>
                      </div>
                    </div>

<!--Example Friends, eventually would (TO DO) save sync and save to DB -->
                    <div class="now-playing__name">
                      <h6>Colin Taylor</h6>
                    </div>
                    <div class="now-playing__song">
                      Can't Get No Satisifaction
                    </div>
                    <div class="now-playint__rating">
                      <h6>
                        <span class="rating-value">59</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 now-playing__column">
                  <div class="now-playing__item">
                    <div class="now-playing__image">
                      <img src="dist/images/team4.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check"> </i>
                      </div>
                    </div>

                    <div class="now-playing__name">
                      <h6>Justin Jacot</h6>
                    </div>
                    <div class="now-playing__song">
                      Setting This House on Fire
                    </div>
                    <div class="now-playint__rating">
                      <h6>
                        <span class="rating-value">35</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                      </h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 now-playing__column">
                  <div class="now-playing__item">
                    <div class="now-playing__image">
                      <img src="dist/images/team6.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>

                    <div class="now-playing__name">
                      <h6>Bruce Kellerman</h6>
                    </div>
                    <div class="now-playing__song">
                      American Pie
                    </div>
                    <div class="now-playint__rating">
                      <h6>
                        <span class="rating-value">45</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                      </h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 now-playing__column">
                  <div class="now-playing__item">
                    <div class="now-playing__image">
                      <img src="dist/images/team5.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check">
                        </i>
                      </div>
                    </div>

                    <div class="now-playing__name">
                      <h6>Marc Wright</h6>
                    </div>
                    <div class="now-playing__song">
                      Together We Are Legends
                    </div>
                    <div class="now-playint__rating">
                      <h6>
                        <span class="rating-value">98</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
          </div>
        </section>
      </section>
    </div>
  </section>

<!--Toggle to Chat with Scrolling -->
  <aside class="aside chat-bar scrollable" id="sidebar">
    <div class="aside-inner-fixed">
      <div class="panel panel-default panel-transparent panel-default-clean">
        <div class="chat-window">
            <div class="friends-list">
              <div class="friend-item online">
                <div class="friend-image">
                  <img src="dist/images/team3.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Kevin Hobbs</h5>
                  <h6>Rocky Top</h6>
                </div>
              </div>

              <div class="friend-item online">
                <div class="friend-image">
                  <img src="dist/images/team4.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Chris Kemeza</h5>
                  <h6>Detroit</h6>
                </div>
              </div>

              <div class="friend-item online">
                <div class="friend-image">
                  <img src="dist/images/team5.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Matt Valdez</h5>
                  <h6>Salt Lake City</h6>
                </div>
              </div>

              <div class="friend-item online">
                <div class="friend-image">
                  <img src="dist/images/team6.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Avant Baker</h5>
                  <h6>Chicago</h6>
                </div>
              </div>

              <div class="friend-item online">
                <div class="friend-image">
                  <img src="dist/images/team2.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Michael Hopper</h5>
                  <h6>Atlanta</h6>
                </div>
              </div>

              <div class="friend-item offline">
                <div class="friend-image">
                  <img src="dist/images/team3.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Colin Taylor</h5>
                  <h6>Boulder</h6>
                </div>
              </div>

              <div class="friend-item offline">
                <div class="friend-image">
                  <img src="dist/images/team4.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Mendell Yaffe</h5>
                  <h6>Mars</h6>
                </div>
              </div>

              <div class="friend-item offline">
                <div class="friend-image">
                  <img src="dist/images/team5.jpg" alt="" class="img30_30 img-circle">
                </div>
                <div class="friend-name">
                  <h5>Peter Ward</h5>
                  <h6>Atlanta</h6>
                </div>
              </div>

              <div class="friend-item offline">
                <div class="friend-image">
                  <img src="dist/images/team3.jpg" alt="" class="img30_30 img-circle">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </aside>
</div>
